<!DOCTYPE html>
<html lang="ru" dir="ltr">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="style/master.css">
        <style media="screen">
        #cy {
        width: 800px;
        height: 800px;
        /*position: absolute;
        left: 0;
        top: 0;
        z-index: 999;*/
    }
        </style>
        <script type="text/javascript" src="../../node_modules/cytoscape/dist/cytoscape.umd.js"></script>
        <script type="text/javascript" src="../../node_modules/cytoscape-cxtmenu/cytoscape-cxtmenu.js"></script>
        <script type="text/javascript" src="script/graph.js"></script>
        <title>Редактор путей</title>
    </head>
    <body>
        <header>
            Header
            <nav>
                <ul class='nav_menu'>
                    <a href="#">Сохранить</a>
                    <a href="#">Отменить</a>
                </ul>
            </nav>
        </header>
        <main id="idk">
            <!-- Контейнер для модуля работы с графом -->
            <div id="cy"></div>
        </main>
        <footer>
            <ul class='footer_menu'>
                <a href="#">Обратная связь</a>
            </ul>
        </footer>
    </body>
</html>
