* {
    font-family: Helvetica, Arial, serif, sans-serif;
    padding: 0;
    margin: 0;
}

body {
    display: grid;
    grid-template-areas:
    "header main footer";
    /*grid-auto-rows: minmax(100px, 1fr) 12fr minmax(100px, 1fr);*/
    grid-auto-columns: 80px 1fr 80px;
    grid-row-gap: 15px;
    max-height: 100%;
}

header {
    grid-area: header;
    background-color: white;
    border: 1px solid black;
    margin: inherit;
    padding: 5px;
}

nav ul {
    background-color: inherit;
    margin: 0;
    padding: 1px 0;
}

nav button {
    padding: 5px;
    margin: 5px 0;
}

main {
    grid-area: main;
    background-color: white;
    margin: 0px;
    padding: 5px;
    border: 1px solid black;
}

#cy {
    margin: 0;
    padding: 0;
    width: 98%;
    height: 98%;
    display: block;
}

footer {
    grid-area: footer;
    background-color: white;
    border: 1px solid black;
    margin: 0px;
    padding: 5px;
}

a {
    text-decoration: none;
}
