<!DOCTYPE html>
<html lang="ru" dir="ltr">
    <head>
        <meta charset="utf-8">
        {% block stylesheet %}
            <link rel="stylesheet" href="{{ /templates/main/style/master.css }}">
        {% endblock %}
        <title>Hello World!!</title>
    </head>
    <body>
        <header>
            <h1>{ pageTitle }</h1>
        </header>
        <main>
            <ul>
                {% for node in nodes%}
                    <li>{node.name}</li>
                {% endfor %}
            </ul>
        </main>
        <footer>
        </fooster>
    </body>
</html>
